@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&display=swap');

@media (max-width: 480px){
    body{
        background-color: #e5e8e8;
        color: #1f1b24;
        margin-right: 0;
        margin: 1em;
        font-family: 'Quicksand';
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 400px;
        justify-content: center;
        text-align: center;
        overflow-x: hidden;

    }
    #logo{
        width: 250px;
    }
    footer{
        max-width: 400px;
    }
}
@media (max-width: 767px) {
    body{
        background-color: #e5e8e8;
        color: #1f1b24;
        margin: 0;
        font-family: 'Quicksand';
        display: flex;
        flex-direction: column;
        text-align: center;
        overflow-x: hidden;
        justify-content: center;
    }
    #logo{
        width: 250px;
    }
}
body {
    background-color: #7B68EE;
    color: #1f1b24;
    margin: 0;
    font-family: 'Quicksand';
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    overflow-x: hidden;
}

body.dark-mode {
    background-color: #121212;
    color: #e5e8e8;
}

main {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer {
    width: 100%;
    background-color: #1f1b24;
    padding: 16px;
    color: #e5e8e8;
    position: fixed;
    bottom: 0;
    text-align: center;
    font-weight: 400;
}

footer.dark-mode {
    background-color: #332940;
    color: #e5e8e8;
}

button {
    border-radius: 40px;
    font-size: 1.5rem;
    height: 60px;
    width: 200px;
    border: none;
    background-color: #332940;
    color: #e5e8e8;
    transition: all 0.5s linear;
}

button:hover {
    background-color: #121212;
}

button.dark-mode {
    background-color: #1f1b24;
    color: #e5e8e8;
}

button.dark-mode:hover {
    background-color: #332940;
    color: #e5e8e8;
}
#logo{
    width: 320px;
}